


:host  ::ng-deep .labrador {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    word-wrap: break-word;
  }
  
  :host  ::ng-deep .poedel {
    color: grey;
    font-size: 1em;
    word-wrap: break-word;
  }
  
  :host  ::ng-deep .parkiet {
    display: inline;
    flex-wrap: wrap;
  }
  
  :host  ::ng-deep .parkiet span {
    font-style: italic;
  }
  

  
  /* Below tablet size, fill the line */
  @media (max-width: 767px) {
  
    :host  ::ng-deep  .parkiet br{
      display: none !important;
    }
  
  }
  
  :host  ::ng-deep .papegaai {
    white-space: pre-line;
  }
  
  
  
  :host  ::ng-deep .papegaai span:nth-child(4n+1) {
    color: red;
  }
  
  :host  ::ng-deep .papegaai span:nth-child(4n+2) {
    color: green;
  }
  
  :host  ::ng-deep .papegaai span:nth-child(4n+3) {
    color: yellow;
  }
  
  :host  ::ng-deep .papegaai span:nth-child(4n+4) {
    color: blue;
  }